<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fj.dao.PersonDao">
	<sql id="person_s_columns">
		id as id, name as name, age as age
	</sql>
	<sql id="person_c_columns">
		name, age
	</sql>
	<sql id="alias">
		<include refid="person_s_columns"></include>
	</sql>
	
	<insert id="insert" parameterType="com.fj.dao.PersonDao" useGeneratedKeys="true" keyProperty="id">
		insert into t_person(<include refid="person_c_columns"/>)
		values(#{name},#{age})
	</insert>
	<update id="updateStatus" parameterType="map">
		update t_person 
		set
			name = #{pDo.name}
		
		where id = #{id}
	</update>
	<update id="updatePerson" parameterType="map">
		update t_person
		set age = #{age}
		where id = #{id}
	</update>
	<select id="query" parameterType="map" resultType="com.fj.dao.PersonDao">
		select <include refid="person_s_columns"/>
		from t_person p
	</select>
	<select id="queryById" parameterType="map" resultType="com.fj.dao.PersonDao">
		select <include refid="person_s_columns"/>
		from t_person p
		where id = #{id}
	</select>
	<select id="queryByDynamicId" parameterType="map" resultType="com.fj.dao.PersonDao">
		select <include refid="person_s_columns"/>
		from t_person p
		<where>
			<if test="id != null">
				id = #{id}
			</if>
		</where>
	</select>
</mapper>